*.rbc
*.sassc
*.dat
.sass-cache
capybara-*.html
.rspec
/.bundle
/config/database.yml
/db/imports/*
/vendor/bundle
/log/*
/tmp/*
.*.swp
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

.rbenv-gemsets