---
layout: default
title: Contact Me
---
%p
  Use this form to contact me.

%form
  %p
    %label Name
    %input{:type => 'text', :id => 'name', :name => 'name'}

  %p
    %label Email
    %input{:type => 'text', :id => 'email', :name => 'email'}

  %p
    %label Message
    %textarea{:id => 'message', :name => 'message'}
