---
layout: default
title: Geekfest Presentation
---
%p
  %a{:href=>"http://50.116.34.10:8888/index.html"} Click here for INQUIZITORS!

%h3 Choose Your Own Preso-venture!

%p A brief intro and demo, then YOU choose...

%ul
  %li ClojureScript is Awesome! (~10 min)
  %li ClojureScript is Painful! (~5 min)
  %li Concurrency in Clojure! (~10 min)
  %li WebSockets with Aleph! (~5 min)
  %li Serialization without JSON! (~10 min)
  %li Emulating a Terminal in the Browser! (~5 min)
  %li Getting up and running with ClojureScript! (~5 min)
