---
layout: default
title: spparker.com
---

{% for post in paginator.posts %}
  <section class="post">
  <h2><a href="{{ post.url }}">{{ post.title }} </a></h2>
    <section class="post-date">{{ post.date | date: "%A, %B %d, %Y") }}</section>
    {{ post.content }}
  </section>
  <section class="divider"></section>
{% endfor %}

<section id="paging">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">&lArr; Previous Page</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}">&lArr; Previous Page</a>
    {% endif %}
  {% endif %}

  Page {{ paginator.page }} of {{ paginator.total_pages }}

  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}">Next Page &rArr;</a>
  {% endif %}
</section>
