- @posts.each do |post|
  %h3=post.title
  %p=post.formatted_body



= will_paginate(@posts, :page_links => false, :previous_label => '← Newer Posts', :next_label => 'Older Posts →')

%br

= link_to 'New Post', new_post_path
